body {
    background-color: #f8f9fa;

}

.orderSelection{
    background-color: ghostwhite;
}

.checkout {
    background-color: ghostwhite;
}

.title {
    margin: 20px;
    margin-bottom: 40px;
    padding: 25px;
}

.totalPrice {
margin-top: 50%;
}